{% extends 'base.html.twig' %}
{% block title %}Articles{% endblock %}
{% block content %}
    {% for content in articles %}
        {% set article = content.article %}
        {% set user = content.user %}
        <div class="flex justify-center">
            <div class="max-w-4xl px-10 my-4 py-6 bg-white rounded-lg shadow-md">

                <div class="mt-2 " >
                    <div class="flex justify-center">
                    <img class="mx-4 w-30 h-30 object-cover hidden sm:block" src="https://placehold.co/200" alt="image">
                    </div>
                    <a class="text-2xl text-gray-700 font-bold hover:text-gray-600" href="/article/{{ article.id }}">{{ article.title }}</a>
                    <p class="mt-2 text-gray-600">{{ article.body }}</p>
                </div>
                <div class="flex justify-between items-center mt-4">
                    <a class="text-blue-600 hover:underline" href="/article/{{ article.id }}">Read more</a>
                    <div>
                        <a class="flex items-center" href="/user/{{ user.id }}">
                            <img class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block" src="https://placehold.co/50" alt="avatar">
                            <h1 class="text-gray-700 font-bold">{{ user.name }}</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}